<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        Select the user :
        <select name="user">
            {% for user in users %}
                <option value="{{user.pk}}">{{user.username}}</option>
            {% endfor %}
        </select><br /><br>
        Choose the role(s) for the user:
        <select name="roles" multiple>
            {% for role in roles %}
                <option value="{{role.pk}}">{{role.name}}</option>
            {% endfor %}
        </select><br />
        <button type="submit">Assign Role</button>
    </form>
</body>
</html>